.box {
    display: flex;
    box-sizing: border-box;
    width: 25em;
    padding: 1em;
    margin: auto;

    border: 1px solid black;
    justify-content: space-between;
}

.box__left-side {
    display: flex;
    justify-content: flex-start;
}

.box__right-side {
    display: flex;
    justify-content: flex-end;
}

.box__item {
    padding: 1em;
    margin-left: -1px;
    box-sizing: border-box;
    border: 1px solid black;
}

.box__item--special {
    background-color: #0066cc;
    color: white;
}