.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    justify-content: flex-start;
}

.flex__item {
    margin: 10px;
    border: 1px solid black;
    padding: 10px;
    /* width: 50%; */
}