.frame {
    display: flex;

    margin: auto;
    box-sizing: border-box;
    width: 75em;
}

.frame__item {
    display: flex;
    justify-content: center;

    border: 1px solid black;
    flex: 1;
    padding: 1em;
}

.frame__item--large {
    flex: 2;
}