.box {
    display: flex;
    border: 1px solid #0066cc;
    box-sizing: border-box;
    width: 60ch;
    margin: 1em auto;
    padding: 1em;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
}

.box--reversed {
    flex-direction: row-reverse;
}

.box__picture {
    margin: 0;
}

.box__article {
    margin: 0;
}

.box__heading {
    margin: 0 0 1em 0;
    padding: 0;
}

.box__text {
    margin: 0;
    padding: 0;
}