/* opravdu valmi špatně napsané CSS
upravte HTML a CSS tak, aby bylo snadno spravovatelné, srozumitelné a rozšířitelné a zachovejte vizualizaci */

a:hover {
    color: black;
}

.card {
    width:60ch;
    margin:1em auto;
    padding: 1em;
    border-width: 1px;
    border-style: solid;

    color: #303030;
    background-color: lightgreen;
    border-color: darkgreen;
}

.card--special {
    color: black;
    background-color: lightblue;
    border-color: black;
}

.card__link {
    color: green;
    background-color: yellow;
    padding: 0em 0.4em;
}

.card__highlight-text-1 {
    background-color: yellow;
}

.card__highlight-text-2 {
    background-color: red;
}